html {
    height: 100%;
    overflow-y: hidden;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow: hidden;
    > div {
        height: inherit;
        width: inherit;
    }
}
